<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Poppins&display=swap');
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .flexy-space{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }
        .invoice-section{
            height: 100%;
            background-color: #f0bc7c;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .invoice-content{
            padding: 0 10%;
            background-color: white;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .invoice-header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .invoice-header h1, .invoice-header h2, .invoice-header h3{
            margin-bottom: 1rem;
        }
        .invoice-logo{
            font-family: 'Noto Serif Display', serif;
            font-size: 4.5rem;
        }
        .invoice-title{
            font-size: 2rem;
        }
        .invoice-greeting{
            text-align: center;
            color: #616464;
        }
        .order-id{
            font-family: 'Poppins', sans-serif;
        }
        .invoice-date{
            color: #616464;
            font-family: 'Poppins', sans-serif;
            font-size: small;
            margin-top: -0.5rem;
        }
        .invoice-orders{
            width: 100%;
            margin-top: 2rem;
            color: #545757;
        }
        .items{
            margin-bottom: 0.6rem;
            color: black;
        }
        .item-contents{
            display: flex;
            font-family: 'Poppins', sans-serif;
            padding: 1rem 0;
            align-items: center;
            justify-content: space-between;
        }
        .item-bundle, .item-quant{
            display: flex;
            align-items: center;
        }
        .item-bundle img{
            width: 60px;
            height: 80px;
            margin-right: 2rem;
        }
        .item-basic{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .item-name{
            margin-bottom: 5px;
        }
        .item-basic h3{
            opacity: 0.9;
        }
        .item-quantity{
            margin-right: 2rem;
        }
        .item-price-summary{
            margin-top: 1rem;
            color: #545757;
            width: 100%;
            font-family: 'Poppins', sans-serif;
        }
        .flexy-space h2{
            font-size: 1.1rem;
        }
        .contact{
            margin: 1rem 0;
            color: #545757;
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contact h2{
            font-size: 1.3rem;
            text-align: center;
        }

    </style>
</head>
<body>
    <section class="invoice-section">
        <div class="invoice-content">
            <div class="invoice-header">
                <h1 class="invoice-logo">SKV</h2>
                <h2 class="invoice-title">Order Confirmation</h2>
                <h3 class="invoice-greeting">Hey 'Customer Name',<br><br>We've got your order! Your world is about to look a whole lot better.<br><br>We'll drop you another email when your order ships.</h3>
                <h2 class="order-id">ORDER NO. 1732835390</h2>
                <h4 class="invoice-date">24-01-2022</h4>
            </div>
            <div class="invoice-orders">
                <h2 class="items">ITEMS ORDERED</h2>
                <hr>
                <div class="item-contents">
                    <div class="item-bundle">
                        <img src="../images/sketchCover.jpg" alt="">
                        <div class="item-basic">
                            <h2 class="item-name">Joker</h2>
                            <h3 class="item-size">A3</h3>
                        </div>
                    </div>
                    <div class="item-quant">
                        <h3 class="item-quantity">x1</h3>
                        <h3 class="item-price">C$ 20</h3>
                    </div>
                </div>
                <hr>
            </div>
            <div class="item-price-summary">
                <div class="item-tax flexy-space">
                    <h2>Tax</h2>
                    <h2>C$ 7.52</h2>
                </div>
                <div class="item-shipping flexy-space">
                    <h2>Shipping</h2>
                    <h2>C$ 29.0</h2>
                </div>
                <div class="item-total flexy-space">
                    <h2>Total</h2>
                    <h2>C$ 36.52</h2>
                </div>
                <hr>
            </div>
            <div class="contact">
                <h2>If you need help with anything, please don't hesitate to drop us an<br>email:info@skvarts.com :)</h2>
            </div>
        </div>
    </section>
</body>
</html>