<%- include("partials/header", {title: title }); -%>
<head>
    <style>
        h1 {
            padding:30vh 0 30vh 41%;
            font-size: 8rem;
        }
    </style>
</head>
<section>
    <div><h1>404</h1></div>
    
</section>
<%- include('partials/footer'); -%>