<%- include("partials/header", {title: title }); -%>

<section class = 'aboutPage'>
    <div class="about">
        <div class="profilePicture">
            <img src="images/Profile-pic.jpg">
        </div>
        <div class="aboutContent">
            <h1>Hi! I'm Suminder</h1>
                <p>Welcome to my art world! I'm 21 year old visual artist, passionate about art and design. For me, art is a way of spreading love and peace. I orginally started drawing and painting as a hobby and it turned out to be one of the greatest skills I own. Currently, I am pursuing Interior Design Technology to expand my knowledge in the design industry. 
                    <br><br>
                    Born and raised in India, I am currently residing in Edmonton, Canada. Some of my greatest achievements have been - ranked 2nd in National Painting Competition organised by the Embassy of Republic of Korea, South Asia Art competition (Top 12). 
                    <br><br>
                    I specialise in Portraits and Fanarts. Please take a peek at my artworks!</p>
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>