<%- include("partials/header", {title: title }); -%>
<head>
    <style>
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h1 {
            
            font-size: 2.5rem;
        }
        .txt{
            padding:30vh 0 30vh 40%;
        }
        button{
            padding: 10px 30px ;
            background-color: #f44336;
            color: azure;
            border: none;
            outline: none;
            /* margin-left: 9%; */
        }
        @media(max-width: 700px) {
            h1{
            font-size: 1.5rem;
            }
        }
    </style>
</head>
<section>
    <div class="txt"><h1>Payment Failed</h1>
    <a href="/shopCategory"><button>Try Again</button></a>
    </div>
</section>
<%- include('partials/footer'); -%>