<%- include("partials/header", {title: title }); -%>
<section class="order-part">
        <div class="order-box">
            <div class="head">
                <h1><span>Custom</span> PAINTING</h1>
            </div>

            
            <form action="/order" method="POST" enctype="multipart/form-data"c class="order-form">
                <div class="form-input">
                    <label for="name">NAME</label>
                    <input class="filed" type="text" id="name" name="name" placeholder=' Your Full Name'>
                </div>

                <div class="form-input">
                    <label for="phno">PHONE NUMBER</label>
                    <input class="filed" type="text" id="phno" name="phno" placeholder=' Contact Number'>
                </div>


                <div class="form-input">
                    <label for="addr">E-MAIL ADDRESS</label>
                    <input class="filed" type="text" id="addr" name="addr" placeholder=' Your E-mail Address'>
                </div>


                <div class="form-input">
                    <label for="paint-style">PAINTING STYLE</label>
                    <select class="field" name="paint" id="styles" place>
                        <option value="null">--Select Style--</option>
                        <option value="oil">Oil Painting</option>
                        <option value="sketch">Color Pencil</option>
                        <option value="bw">Graphite & Charcoal</option>
                        <option value="abs">Scenery</option>
                    </select>
                </div>


                <div class="form-input CANVAS">
                    <label for="size">CANVAS SIZE</label>
                    <div class="can-size">
                        <div class="size-a4">A4 <input class="input-a4" type="hidden" name="" value="a4"></div>
                        <div class="size-a3">A3 <input class="input-a3" type="hidden" name="" value="a4"></div>
                    </div>
                </div>
                <div class="warn">
                    <div class="notes"></div>
                    <div class="img-refer"></div>
                </div>


                <div class="form-input">
                    <label for="uploadImg">UPLOAD IMAGES</label>
                    <input type="file" id="uploadImg" name="profile-file" required>
                </div>


                <div class="form-input">
                    <label for="desc">DESCRIPTION</label>
                    <textarea class="filed" name="desc" id="desc" cols="60" rows="8" placeholder="Description of the work you want to commission"></textarea>
                </div>

                <input id="button" type="submit" value="SUBMIT" name="submit">
            </form>
        </div>
    </section>

<%- include('partials/footer'); -%>

<script>
        var select = document.getElementById('styles');
        var canvas = document.getElementsByClassName('CANVAS')[0];
        canvas.style.display = "none";
        var canvaa3 = document.getElementsByClassName('size-a3')[0];
        var canvaa4 = document.getElementsByClassName('size-a4')[0];
        var a4input = document.getElementsByClassName('input-a4')[0];
        var a3input = document.getElementsByClassName('input-a3')[0];
        let warns = document.querySelector('.warn');
        let note = document.querySelector('.notes');
        let img_refer = document.querySelector('.img-refer');
        let warnH = document.createElement('h3');
        let referimg = document.createElement('img');
        let imgcap = document.createElement('h3');

        canvaa3.addEventListener('click', () => {
            canvaa3.style.borderColor = "#f44336";
            canvaa3.style.color = "#f44336";
            canvaa3.style.boxShadow = "3px 3px 1px #f44336";
            canvaa4.style.borderColor = "black";
            canvaa4.style.color = "black";
            canvaa4.style.boxShadow = "none";
            a3input.setAttribute('name', 'selected');
            a4input.removeAttribute('name');
        })

        canvaa4.addEventListener('click', () => {
            canvaa4.style.borderColor = "#f44336";
            canvaa4.style.color = "#f44336";
            canvaa4.style.boxShadow = "3px 3px 1px #f44336";
            canvaa3.style.borderColor = "black";
            canvaa3.style.color = "black";
            canvaa3.style.boxShadow = "none";
            a4input.setAttribute('name', 'selected');
            a3input.removeAttribute('name');
        })

        select.addEventListener('change', () => {
            note.style.border = 'none';
            if (select.value == "null") {
                canvas.style.display = "none";
            }
            else if(select.value == "oil"){
                
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 5<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/paper_size.jpeg";

            }
            else if(select.value == "sketch"){
                
                canvas.style.display = "flex";
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 3<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/img_wall.jpeg";

            }
            else if(select.value == "bw"){
                
                canvas.style.display = "flex";
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 2<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/img_wall.jpeg";

            }
            else if(select.value == "abs"){
                
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 4<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/paper_size.jpeg";

            }   
            warnH.style.textAlign = 'center';
            imgcap.style.marginBottom = '10px';
            note.appendChild(warnH);
            img_refer.appendChild(imgcap);
            img_refer.appendChild(referimg);

        })

        
        var navLinks = document.getElementById("navLinks");
        var navsection = document.getElementsByClassName('sub-header-general')[0];

        function showMenu() {
            navLinks.style.right = "0";
            navsection.style.overflow = "visible";
        }

        function hideMenu() {
            navLinks.style.right = "-250px";
            setTimeout('navsection.style.overflow = "hidden";', 1000);
        }
    </script>