<%- include("partials/header", {title: title }); -%>
<section class="order-part">
        <div class="order-box">
            <div class="head">
                <h1><span>Custom</span> PAINTING</h1>
            </div>

            
            <form action="/order" method="POST" enctype="multipart/form-data"c class="order-form">
                <div class="form-input">
                    <label for="name">NAME</label>
                    <input class="filed" type="text" id="name" name="name" placeholder=' Your Full Name'>
                </div>

                <div class="form-input">
                    <label for="phno">PHONE NUMBER</label>
                    <input class="filed" type="text" id="phno" name="phno" placeholder=' Contact Number'>
                </div>


                <div class="form-input">
                    <label for="addr">E-MAIL ADDRESS</label>
                    <input class="filed" type="text" id="addr" name="addr" placeholder=' Your E-mail Address'>
                </div>


                <div class="form-input">
                    <label for="paint-style">PAINTING STYLE</label>
                    <select class="field" name="paint" id="styles" place>
                        <option value="null" disabled selected>--Select Style--</option>
                        <option value="Oil Painting">Oil Painting</option>
                        <option value="Color Pencil">Color Pencil</option>
                        <option value="Graphite & Charcoal">Graphite & Charcoal</option>
                        <option value="Scenery">Scenery</option>
                    </select>
                </div>


                <div class="form-input CANVAS">
                    <label for="size">SIZE</label>
                    <div class="can-size">
                        <select class="size-opt" name="selected" id="canvas-size" place>
                            <option value="null" disabled selected>--Select Size--</option>
                            <option value="A4">A4 - 9"x12" </option>
                            <option value="A3">A3 - 11-3/4" x 16-1/4" </option>
                        </select>
                    </div>
                    <div class="size-options">
                        <select class="sizes" name="selected" id="sizes-drop" place>
                            <option value="null" disabled selected>--Select Size--</option>
                            <option value="8x10">8"x10" </option>
                            <option value="11x14">11"x14" </option>
                            <option value="12x16">12"x16"</option>
                            <option value="16x20">16"x20"</option>
                            <option value="18x24">18"x24"</option>
                            <option value="24x36">24"x36"</option>
                        </select>
                    </div>
                </div>
                <div class="warn">
                    <div class="notes"></div>
                    <div class="img-refer"></div>
                </div>


                <div class="form-input">
                    <label for="uploadImg">UPLOAD IMAGES</label>
                    <input type="file" id="uploadImg" name="profile-file" required>
                </div>


                <div class="form-input">
                    <label for="desc">DESCRIPTION</label>
                    <textarea class="filed" name="desc" id="desc" cols="60" rows="8" placeholder="Description of the work you want to commission"></textarea>
                </div>
                
                <input id="button" type="submit" value="SUBMIT" name="submit">
            </form>
        </div>
    </section>

<%- include('partials/footer'); -%>

<script>
        var select = document.getElementById('styles');
        var canvas = document.getElementsByClassName('CANVAS')[0];
        canvas.style.display = "none";
        var size_det = document.querySelector('.can-size');
        var size_opt = document.querySelector('.size-options');
        let warns = document.querySelector('.warn');
        let note = document.querySelector('.notes');
        let img_refer = document.querySelector('.img-refer');
        let warnH = document.createElement('h3');
        let referimg = document.createElement('img');
        let imgcap = document.createElement('h3');


        select.addEventListener('change', () => {
            note.style.border = 'none';
            if (select.value == "null") {
                canvas.style.display = "none";
            }
            else if(select.value == "Oil Painting"){
                
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 5<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/paper_size.jpeg";
                canvas.style.display = "flex";
                size_det.style.display = "none";
                size_opt.style.display = "block";

            }
            else if(select.value == "Color Pencil"){
                
                canvas.style.display = "flex";
                size_det.style.display = "flex";
                size_opt.style.display = "none";
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 3<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/img_wall.jpeg";

            }
            else if(select.value == "Graphite & Charcoal"){
                
                canvas.style.display = "flex";
                size_det.style.display = "flex";
                size_opt.style.display = "none";
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 2<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/img_wall.jpeg";

            }
            else if(select.value == "Scenery"){
                
                warnH.innerHTML = "<b>Note:</b> PRICE = (per square inch) x 4<br>(<i>The prices may vary with the level of details and number of persons in the picture. You will be notified about final price via e-mail</i>)";
                note.style.border = '2px solid red';
                imgcap.innerHTML = "<u>Sizes for Reference</u>";
                referimg.src = "images/paper_size.jpeg";
                canvas.style.display = "flex";
                size_det.style.display = "none";
                size_opt.style.display = "block";
            }   
            warnH.style.textAlign = 'center';
            imgcap.style.marginBottom = '10px';
            note.appendChild(warnH);
            img_refer.appendChild(imgcap);
            img_refer.appendChild(referimg);

        })

        
        var navLinks = document.getElementById("navLinks");
        var navsection = document.getElementsByClassName('sub-header-general')[0];

        function showMenu() {
            navLinks.style.right = "0";
            navsection.style.overflow = "visible";
        }

        function hideMenu() {
            navLinks.style.right = "-250px";
            setTimeout('navsection.style.overflow = "hidden";', 1000);
        }
    </script>