<%- include("partials/header", {title: title }); -%>

<div>
    <a href="/shops/original"><h2>Original</h2></a>
</div>
<div>
    <a href="/shops/print"><h2>Print</h2></a>
</div>
<div>
    <a href="/order"><h2>Custom Made</h2></a>
</div>



<%- include('partials/footer'); -%>