
.sub-header-general{
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

.title{
    font-family: 'Noto Serif Display', serif;
    width: 150px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}


.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}



/*-----Footer-----*/


.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.918);
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}