@font-face {
    font-family: 'Amsterdam Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Amsterdam Regular'), url('../fonts/Amsterdam.otf') format('opentype');
}

@font-face {
    font-family: 'Emberly';
    font-style: normal;
    font-weight: normal;
    src: local('Emberly'), url('../fonts/Emberly-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roxborough';
    font-style: normal;
    font-weight: normal;
    src: local('roxborough'), url('../fonts/FontsFree-Net-roxborough-cf-light.ttf') format('truetype');
}

@font-face {
    font-family: 'glacial-indifference';
    font-style: normal;
    font-weight: normal;
    src: local('glacial-indifference'), url('../fonts/GlacialIndifference-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'glacial-indifference';
    font-style: normal;
    font-weight: bold;
    src: local('glacial-indifference'), url('../fonts/GlacialIndifference-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'mistrully';
    font-style: normal;
    font-weight: normal;
    src: local('mistrully'), url('../fonts/Mistrully.ttf') format('truetype');
}

@font-face {
    font-family: 'PlaylistScript';
    font-style: normal;
    font-weight: normal;
    src: local('PlaylistScript'), url('../fonts/FontsFree-Net-PlaylistScript.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* used in home page */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300&display=swap');
/* Used in acrt Heading */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.text-box{
    width: 40%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.text-box h1 span{
    font-family:'Amsterdam Regular';
    font-weight:normal;
    font-size:42px;
    text-shadow: 1.4px 1.4px 1px cyan,-1.5px -1.5px 0px red; 
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    font-family: 'Lexend Exa';
    color: #fff;
}

nav .fa{
    display: none;
}

    /* arrow-css */

.arrow{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

    /*---x--arrow-css--x---*/

@media(max-width: 700px){
    .text-box{
        width: 80%;
        margin-top: 20px;
        
    }

    .text-box h1{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        /* border: 1px solid cyan; */
    }

    .text-box h1 span{
        font-size: 35px;
        
    }

    .text-box h1 #mn,#ln{
        transform: translateY(-50px);
    }

    .text-box h1 #ln{
        transform: translateY(-80px);
    }

    .text-box p{
         transform: translateY(-100px);
         padding-bottom: 50px;
         
    }



    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        height: 100vh;
        width: 150px;
        background: #f44336;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        overflow: visible;
    }

    nav .fa{
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 22px;
        margin: 10px;
    }

    .nav-links ul{
        padding: 30px;
    }
}

    /*-----Part2-----*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5rem;
    /* background-color: black; */
}

.campus h1{
    font-size: 65px;
    font-weight: 700;
    font-family: 'PlaylistScript';
    color: #f44336;
}

.campus-col{
    flex-basis: 32%;
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
    margin: 0px 30px 30px 30px;
    position: relative;
    overflow: hidden;
    /* border: 5px solid #f44336; */
    box-shadow: 10px 10px 5px rgb(185, 185, 185),
                -10px -10px 5px #ffffff;
}

.layer{
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0%;
  left: 50%;
  padding: 8px 0;
  transition: all 0.2s ease-in;
  transform: translate(-50%, 0%);
  background-color: #00000079;
  color: #fff;
}

.campus-col img{
    height:100%;
    width:100%;
    display: block;
    /* border-radius: 15px; */
    
}
/* .campus-col::after{
    content: "";
    position: absolute;
    top: 80px;
    white-space: pre;
    right: 15px;
    height: fit-content;
    width: 100%;
    background: #e95ba983;
} */

.campus-col:hover .layer{
    background: rgba(226,0,0,0.7);
    height: 40%;
}



.row{
    margin-top: 5%;
    display: flex; 
    justify-content: space-between;
}


h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}


@media(max-width:750px){
    .row{
        flex-direction: column;
    }
    .campus-col{
        width:80%;
    
        margin: 10%;
    }
    .layer{
        bottom: -1.5%;
    }
}

@media(max-width:570px){
    .row{
        flex-direction: column;
    }
    .campus-col{
        width:80%;
        
        margin: 10%;
    }
    .layer{
        bottom: 1%;
        height: 11%;
        padding: 0%;
    }
}

@media(max-width:450px){
    .campus-col:hover .layer{
    height: 90%;
    }
    .layer{
        bottom: 1%;
        height: 12%;
        padding: 0%;
    }
}

/*------------About us Page--------------*/
.aboutPage{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #ebe7e7);
    /* background-color: rgba(0, 0, 0, 0.747); */
}
.about{
    display: flex;
    padding: 5rem 5rem;
    align-items: center;
}
.aboutContent h1{
    font-family: "mistrully";
    color: #f44336;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 12px;
}
.aboutContent p{
    /* color: white; */
    font-size: 1.5em;
    font-weight: medium;
    font-family: "glacial-indifference";
}
.profilePicture{
    margin: 0 10rem 0 0;
}
.profilePicture img{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}
@media only screen and (max-width: 1100px){
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 3rem;
    }
    .aboutContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutContent h1{
        font-size: 3em;
    }
    .profilePicture{
        margin: 0 0 3rem 0;
    }
    .profilePicture img{
        height: 15rem;
        width: 15rem;
    }
}
@media only screen and (max-width: 480px){
    .aboutPage{
        height: 120%;
    }
    .about{
        padding: 2rem 2rem;
    }
    .aboutContent h1{
        font-size: 2.5em;
    }
    .profilePicture{
        margin: 0 0 2rem 0;
    }
    .profilePicture img{
        height: 10rem;
        width: 10rem;
    }
    
}
@media only screen and (max-width: 365px){
    .profilePicture{
        margin: 0 0 1rem 0;
    }
    .aboutContent h1{
        font-size: 2.2em;
    }
    .aboutContent p{
        font-size: 1em;
    }
}



/*------------Gallery Page--------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.shopSection{
    background-color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    
}

.container .heading{
    width: 50%;
    margin: 50px;
    color: #f44336;
}

.container .heading h3{
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 3px solid #f44336;
    
}

.container .heading span{
    font-size: 3em;
    font-weight: 600;
    font-family: 'Lexend Exa';
    margin-left: 5px;
}

.container .heading #title{
    font-size: 7em;
    font-weight: 500;
    font-family: 'PlaylistScript';
}


.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}

.frame{
    /* width: 20%; */
    height: fit-content;
    padding: 0%;
    margin: 5%;
    /* border: solid red; */
}

.photo{
    background-color: #e1dbd6;
    /* border: solid 2px #777; */
    padding: 5%;
    margin: 0 0 10px 0;
    position: relative;
    
}

.photo img{
    max-width:100%;
    height: auto;
    max-height: 20rem;
    
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    
}
.info > .details{
    margin-bottom: 10px;
    font-size: x-large;
}
.info h4, .info h5, .info p{
    color: black;
    font-family: 'Lexend Exa';
}
.info h5{
    font-weight: 200;
}
.info > .cart{
    width: fit-content;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 15%;
    background: linear-gradient(to right, #870000, #190A05);
    padding: 0 10px;
    transition: 0.1s;
    cursor: pointer;
}
.info > .cart:hover{
    transform: scale(1.05);
}
.info > .cart > i{
    font-weight: bolder;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}
.info > .cart > span{
    font-size: 16px;
    color: rgb(255, 255, 255);
}



@media only screen and (max-width: 769px){
    .container .heading{
        width: 80%;
    }

    .container .heading #title{
    font-size: 4em;
    font-family: 'Great Vibes', cursive;
    }   
    .container .heading #subtitle{
    font-size: 2em;
    } 
   
    .box{
        grid-template-columns: repeat(3, 1fr);
    }
} 

@media only screen and (max-width: 620px){
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 470px){
    .box{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*------------Catogery Page--------------*/


.contCat{
    background-color: black;
    margin: 0;
}

.catogeries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catogry{
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    padding: 50px 50px;
   
}

#L2{
    display: flex;
    width: 85vw;
    padding: 50px 50px;
    align-items: center;
    /* transform: translateX(-1rem); */
    justify-content: center;
}
#R{
    flex-direction: row-reverse;
}

#L .cat-des, #L2 .cat-des{
    transform: translateX(-30%);
}

#R .cat-des{
    transform: translateX(10%);
    z-index: 1;
}



.img-box{
    width: 30rem;
    height: 30rem;
    border: 6px solid #f45c36;
}
#R .img-box{
        transform: translateX(-25%);
}
#L img, #L2 img{
    width: 30rem;
    height: 30rem;
    padding: 0;
    transform: translate(-35px,-35px);
}

#R img{
    width: 30rem;
    height: 30rem;
    padding: 0;
    transform: translate(35px,-35px);
}

.cat-des{
    padding: 120px;
    
}

.cat-des h3{
    font-size: 4.5rem;
    font-family: 'Lexend Exa';
    color: white;
    text-shadow: 4px 4px #494848da;    
}
@media only screen and (max-width: 1200px){
    .catogeries{
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 30px;
    }
    .catogry{
        padding: 30px 10px;
        
    }


    .img-box{
        width: 12rem;
        height: 12rem;
        border: 2px solid red;
    }

    #L img, #L2 img{
        width: 12rem;
        height: 12rem;
        padding: 0;
        transform: translate(-10px,-10px);
    }

    #R img{
        width: 12rem;
        height: 12rem;
        padding: 0;
        transform: translate(10px,-10px);
    }

    #R .img-box{
        transform: translateX(-25%);
    }

    #L .cat-des, #L2 .cat-des{
        transform: translateX(-20%);
    }

    #R .cat-des{
        transform: translateX(0%);
        z-index: 1;
    }
    /* .img-box:hover img{
        border: none;
        transform: none;
        transition: none;
    } */
    .cat-des{
        padding: 10px 20px;
    }
    .cat-des h3{
        font-size: 2rem;
        padding: 0.5rem 0;
    }

}

@media only screen and (max-width: 700px) {

    .catogeries{
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 30px;
    }
    .catogry{
        padding: 30px 10px;
        
    }


    .img-box{
        width: 12rem;
        height: 12rem;
        border: 2px solid red;
    }

    #L img, #L2 img{
        width: 12rem;
        height: 12rem;
        padding: 0;
        transform: translate(-10px,-10px);
    }

    #R img{
        width: 12rem;
        height: 12rem;
        padding: 0;
        transform: translate(10px,-10px);
    }

    #R .img-box{
        transform: translateX(-25%);
    }

    #L .cat-des, #L2 .cat-des{
        transform: translateX(-20%);
    }

    #R .cat-des{
        transform: translateX(0%);
        z-index: 1;
    }
    /* .img-box:hover img{
        border: none;
        transform: none;
        transition: none;
    } */
    .cat-des{
        padding: 10px 20px;
    }
    .cat-des h3{
        font-size: 2rem;
        padding: 0.5rem 0;
    }
}
@media only screen and (max-width: 450px){
    .catogry{
        flex-direction: column;
        padding: 30px 10px;
       
    }
    .img-box{
        width: 15rem;
        height: 15rem;
        border: 2px solid red;
    }
    #R{
        flex-direction: column;
    }
    #L, #R, #L2{
        width: 100%;
    }
    #L2{
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }

    #L img, #L2 img, #R img{
        width: 15rem;
        height: 15rem;
        padding: 0;
        transform: translate(-10px,-10px);
    }

    #R .img-box{
        transform: translateX(0%);
    }

    #L .cat-des, #L2 .cat-des{
        transform: translateX(0%);
    }

    #R .cat-des{
        transform: translateX(0%);
        z-index: 1;
    }
    /* .img-box:hover img{
        border: none;
        transform: none;
        transition: none;
    } */
    .cat-des{
        padding: 10px 20px;
    }
    .cat-des h3{
        font-size: 2rem;
        padding: 0.5rem 0;
    }

}


/*------------Order Page--------------*/

.order-part{
    background: linear-gradient(to right, #ffffff, #ebe7e7);
}

.order-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
    width: 40%;
    padding-bottom: 50px;
    /* border: 3px solid #222; */
}

.head span{
    font-family: 'PlaylistScript';
    font-size: 1.8em;
}

.head h1{
    font-family: 'Playfair Display SC';
    font-size: 3em;
    text-align: center;
    font-weight:300;
    padding-bottom: 10px;
    color: #f44336;
    border-bottom: 3px solid #f44336;
}

.order-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: black;
    /* border: 5px solid red; */
}

.form-input{
    display: flex;
    padding: 2%;
    font-size: 1.5rem;
}

.form-input label{
    flex-basis: 35%;
    font-family: 'Lexend Exa';
}

.filed{
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    width: 35%;
    background-color: transparent;
}

#styles{
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    background-color: #fff;
    width: 35%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff(10, 10, 10);
  opacity: 1; /* Firefox */
  font-size: 1rem;
}

.can-size{
    display: flex;
    
}

.size-a3, .size-a4{
    border: 2px solid black;
    padding: 0 1.3rem;
    margin-left: 3rem;
    border-radius: 10%;
    cursor: pointer;
    
}

#button{
    font-family: 'Lexend Exa';
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5% 35%;
    padding: 1.5% 5%;
    border-radius: 15px;
    transition-duration: 0.4s;
    color: black;
    background-color: rgba(10, 10, 10, 0.034);
}


#button:hover {
  background-color: black; /* Green */
  color: #fff;
}

@media(max-width: 700px){

    .head{
        padding-top: 8%;
        width: 80%;
    }

    .head h1{
        font-size: 1.5rem;
    }
    .order-part{
        min-height: 100vh;
    }

    .order-form{
        width: 85%;
    }

    .form-input{
        flex-direction: column;
        padding: 4%;
        font-size: 1rem;
    }

    .form-input label{
        /* flex-basis: 100%; */
        padding-bottom: 3%;
    }

    .filed{
        width: 85%;
    }

    .can-size div{
        margin-left: 1.5rem;
    }

    textarea{
        height: 130px;
    }

    #button{
    width: 40%;
    margin: 5% 30%;
    }
}
/* -----------------------------Image Viewer------------------------- */
.viewer{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center */
}
.view-img-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    margin: 2rem 0;
}
.img-view{
    height: fit-content;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    margin-right: 5rem;
    /* background: linear-gradient(to right top, #000000, #2b2b2b); */
    background-color: #e1dbd6;
}
.img-view img{
    width: 26rem;
    height: auto;
}
.img-details{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
#img_size{
    margin-right: 1rem;
    font-size: larger;
    font-weight: bold;
}
#imgSize{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
.img-desc h1{
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bold;
    font-size: xxx-large;
    color: red;
    margin: 0 0 1rem 0;
}
.img-desc h2{
    font-family: 'Lexend Exa';
    color: black;
    font-size: xx-large;
    margin: 0 0 0.5rem 0;
}
.img-desc p{
    font-family: 'Lexend Exa';
    font-size: x-large;
    margin: 1rem 1rem 1rem 0;
}
.img-cart{
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    padding: 0 1rem;
    transition: 0.2s;
    margin-bottom: 2rem;
}
.img-cart button{
    padding: 0 3rem;
    color: white;
    background: #f44336;
    border-radius: 5px;
}
.img-cart a{
    text-decoration: none;
    color: black;
}
.img-cart:hover{
    transform: scale(1.1);
    /* background-color: red; */
}
.img-cart:hover a{
    color: white;
}
@media only screen and (max-width: 860px){
    .view-img-contents{
        flex-direction: column;
    }
    #img_size{
        margin-right: 0;
    }
    .img-view{
        margin: 0 0 2rem 0;
    }
}
@media only screen and (max-width: 768px){
    .img-view img{
        width: 20rem;
        height: auto;
    }
}
@media only screen and (max-width: 425px){
    .img-view img{
        width: 17rem;
        height: auto;
    }
}
@media only screen and (max-width: 375px){
    .img-view img{
        width: 15rem;
        height: auto;
    }
    .img-desc h1{
        font-size: xx-large;
    }
    .img-desc h2{
        font-size: x-large;
    }
    .img-desc p{
        font-size: larger;
    }

}
@media only screen and (max-width: 320px){
    .img-view img{
        width: 12rem;
        height: auto;
    }
}
@media only screen and (max-width: 295px){
    .img-view img{
        width: 10rem;
        height: auto;
    }
}

/* -----------------------------------Shop----------------------------------------------------- */

.shop-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.shop-header{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-header-title{
    padding: 1rem 0;
    width: 60%;
    border-bottom: 3px solid #f44336;
    
    margin-bottom: 2rem;
    
}
.shop-header-title h1{
    font-size: 5em;
    font-weight: 200;
    font-family: 'PlaylistScript';
    color: #f44336;
    text-align: center;
}
.shop-cat-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 0 2rem 0;
}
.shop-orig, .shop-print, .shop-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6e63633a;
    height: 30rem;
    width: 25rem;
}
.shop-img{
    width: 25rem;
    height: 30rem;
    overflow: hidden;
    
}
.shop-img img{
    width: inherit;
    height: inherit;
    transition: transform 0.5s ease;
}
.shop-cat-heading{
    position: relative;
    bottom: 0px;
    background-color: #000000;
    width: inherit;
    transition: all 0.4s ease-in;
}
.shop-cat-heading h2{
    margin-top: 10px;
    font-family: 'Lexend Exa';
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.shop-img img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 1400px){
    .shop-orig, .shop-print, .shop-custom{
        height: 25rem;
        width: 20rem;
    }
    .shop-img{
        width: 20rem;
        height: 25rem;
        overflow: hidden;
        
    }
    .shop-cat-heading{
        width: 20rem;
    }
}

@media only screen and (max-width: 1100px){
    .shop-orig, .shop-print, .shop-custom{
        height: 20rem;
        width: 15rem;
    }
    .shop-img{
        width: 15rem;
        height: 20rem;
        overflow: hidden;
        
    }
    .shop-cat-heading{
        width: 15rem;
        font-size: 2em;
    }
}

@media only screen and (max-width: 900px){
    .shop-header{
        width: 50%;
    }
    .shop-header-title{
        width: 50%;
    }
    .shop-header-title h1{
        font-size: 4em;
    }
    .shop-cat-items{
        flex-direction: column;
    }
    .shop-orig, .shop-print, .shop-custom{
        height: 30rem;
        width: 25rem;
        margin-bottom: 2rem;
    }
    .shop-img{
        width: 25rem;
        height: 30rem;
        overflow: hidden;
        
    }
    .shop-cat-heading{
        width: 25rem;
        font-size: 2em;
        position: relative;
        bottom: -1%;
    }

}

@media only screen and (max-width: 700px){
    .shop-header{
        width: 50%;
    }
    .shop-header-title{
        width: 50%;
    }
    .shop-header-title h1{
        font-size: 3rem;
    }
    
}

@media only screen and (max-width: 450px){
    
    .shop-orig, .shop-print, .shop-custom{
        height: 25rem;
        width: 20rem;
        margin-bottom: 2rem;
    }
    .shop-img{
        width: 20rem;
        height: 25rem;
        overflow: hidden;
        
    }
    .shop-cat-heading{
        width: 20rem;
        font-size: 2em;
    }
}

@media only screen and (max-width: 350px){
    .shop-header-title h1{
        font-size: 2.5rem;
    }
    .shop-orig, .shop-print, .shop-custom{
        height: 20rem;
        width: 15rem;
        margin-bottom: 2rem;
    }
    .shop-img{
        width: 15rem;
        height: 20rem;
        overflow: hidden;
        
    }
    .shop-cat-heading{
        width: 15rem;
        font-size: 2em;
    }
}

/* -----------Success Page--------- */

.big-box{
    border: 2px solid #000000;
    margin: 6% 25%;
    display: flex;
    flex-direction:column;
}

.logo-box{
    align-items: center;
}

.page-box{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.colm-1, .colm-2{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    
    /* justify-content: left; */
}

.colm-1{
    padding-right: 0%;
    
}

.colm-2{
    padding-left: 20%;
}

.colm-1 h3{
    text-align: left;
}

.colm-2 h3{
    text-align: right;
}






